<IfModule mod_rewrite.c>
  RewriteEngine on
  
  RewriteRule ^([0-9])|a01|a02|b01$ /2022/subscription [R=301,L]

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME}\.php -f
  RewriteRule ^(.*)$ $1.php
</IfModule>