@keyframes grow-xy {
    from {
        transform: scaleX(0) scaleY(0);
    }

    to {
        transform: scaleX(1) scaleY(1);
    }
}

@keyframes shrink-xy {
    from {
        transform: scaleX(1) scaleY(1);
    }

    to {
        transform: scaleX(0) scaleY(0);
    }
}

@keyframes zoom {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
}

::view-transition-old(*),
::view-transition-new(*) {
    height: auto;
    right: 0;
    left: auto;
}

::view-transition-old(*) {
    animation: 0.55s ease-out both shrink-xy;
    transform-origin: right top;
}

::view-transition-new(*) {
    animation: 0.55s 0.55s ease-in both grow-xy;
    transform-origin: right bottom;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* Default is dark mode */
    --brentjong-space--body--border--color: #000;
    --brentjong-space--color--highlighted: #ec0dad42;
    --brentjong-space--color--background--highlighted: #3c0064;
    --brentjong-space--color--action: #ff4538;
    --brentjong-space--layout--padding: 2em;
    --brentjong-space--layout--breakpoint--s: 700px;
    --brentjong-space--border--style--thickness: 5px;
    --brentjong-space--border--style--style: dashed;
    --brentjong-space--border--style--color: #000;
    --brentjong-space--background--color: #000;
    --brentjong-space--font--color: #fff;
    --brentjong-space--link--underline--color: linear-gradient(#fff, #fff);

    --background-main-gradient: linear-gradient(315deg, var(--brentjong-space--background--color) 0%, var(--brentjong-space--background--color) 90%, var(--brentjong-space--color--background--highlighted) 100%);

    /* Swap colors for light mode */
    @media (prefers-color-scheme: light) {
        --brentjong-space--body--border--color: #fff;
        --brentjong-space--background--color: #fff;
        --brentjong-space--font--color: #000;
        --brentjong-space--link--underline--color: linear-gradient(#000, #000);
    }

    /* background: var(--background-main-gradient); */
    background-color: var(--brentjong-space--background--color);

    color: var(--brentjong-space--font--color);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 100%;
    line-break: normal;

    display: flex;
    align-items: center;
    justify-content: center;

    min-height: calc(100vh - var(--brentjong-space--layout--padding));
    border: calc(var(--brentjong-space--layout--padding)/2) var(--brentjong-space--body--border--color) solid;
    overflow-x: hidden;
    overflow-y: scroll;
}

@media (max-width: 700px) {
    body {
        font-size: 0.75em;
    }
}

.content {
    padding: 11vw 2em 4em 2em;
}

@media (min-width: 1441px) {
    .content {
        padding-block-start: 5vw;
    }
}

.sixpack-header {
    position: relative;
}

@media (min-width: 1020px) {
    .sixpack-header hgroup {
        position: absolute;
        top: -4vw;
        right: -3vw;
        z-index: 3;

        background-color: var(--brentjong-space--font--color);
        color: var(--brentjong-space--background--color);

        padding: 1em;
        border: var(--brentjong-space--border--style--thickness) var(--brentjong-space--border--style--style) var(--brentjong-space--background--color);

        & h1 {
            padding-block-end: 0;
            /* .emoji { display: none; } */
        }
        & h2 {
            padding-block-start: 0.5em;
            padding-block-end: 0;
        }
    }
}

@media (min-width: 1681px) {
    .sixpack-header hgroup {
        top: -3vw;
        right: 4vw;
    }
}

@media (min-width: 2560px) {
    .sixpack-header hgroup {
        top: -2vw;
        right: 2vw;
    }
}

@media (max-width: 1679px) {
    img {
        width: 100%;
        max-width: 100%;
    }
}


img,
lite-youtube {
    z-index: 1;
    aspect-ratio: auto 1000 / 667;
    height: 100%;
}
/* Fallback for browsers that don't support aspect-ratio */
@supports not (aspect-ratio: 3 / 2) {
    img::before, lite-youtube::before {
        float: left;
        padding-top: 66.66%;
        content: "";
    }

    img::after, lite-youtube::after {
        display: block;
        content: "";
        clear: both;
    }
}

img.sixpack {
    transition: filter 1.1s ease-out;

    /* no transitions if user prefers-reduced-motion */
    @media (prefers-reduced-motion) {
        transition-property: none;
    }

    &:is(:hover, :focus) {
        cursor: pointer;
        transition: filter 0.35s ease-in;

        /* no transitions if user prefers-reduced-motion */
        @media (prefers-reduced-motion) {
            transition-property: none;
        }
    }
}

img.sixpack:not(.focused) {
    filter: hue-rotate(81deg) invert(100%) brightness(31%) contrast(125%);
  
    &:is(:hover, :focus) {
      filter: hue-rotate(-273deg) invert(100%) brightness(61%);
    }
  }
  
@media (prefers-color-scheme: light) {
    img.sixpack:not(.focused) {
        filter: hue-rotate(0deg) invert(0%) brightness(100%) contrast(100%);

        &:is(:hover, :focus) {
        filter: hue-rotate(-273deg) invert(100%) brightness(61%);
        }
    }
    img.sixpack.focused {
        filter: hue-rotate(81deg) invert(100%) brightness(31%) contrast(125%);
    }
}

picture {
    display: block;
    margin-inline-start: -3em;
    margin-inline-end: -3em;
    margin-block-end: 3em;
    width: calc(100% + 6em);
}

picture img {
    display: block;
    width: 100%;
}

lite-youtube {
    margin-block-end: 3em;
    display: inline-flex;
    width: 100%;
    max-width: 75ch !important;
}

@media (min-width: 1020px) {

    picture {
        border: var(--brentjong-space--border--style--thickness) var(--brentjong-space--border--style--style) var(--brentjong-space--border--style--color);
        margin-inline-start: 0;
        margin-inline-end: 0;
        width: 100%;
    }
}

@media (min-width: 1681px) {

    picture {
        border: none;
        margin-inline-start: -7vw;
        margin-inline-end: -7vw;
        width: calc(100% + 14vw);
    }
}

p,
ul,
h2,
h3,
lite-youtube,
footer {
    font-size: 2em;
    line-height: 130%;
    max-width: 75ch;
    word-wrap: break-word;
    padding-block-end: calc(0.5 * var(--brentjong-space--layout--padding));
}

input[type="text"],
input[type="email"] {
    font-size: 2em;
    word-wrap: break-word;
    margin-block-end: calc(0.5 * var(--brentjong-space--layout--padding));

    border: 3px solid black;
    padding: 3px 10px;
}

li {
    padding-block-start: .5em;
}

ul {
    padding-inline-start: 1em;
}

ul ul {
    font-size: 1em;
}

h1,
h2,
h3,
h4 {
    padding-block-end: 0.5em;
    font-weight: bold;
    line-height: 120%;
    hyphens: auto;
    -webkit-hyphens: auto;
}

h1 {
    font-size: 3em;
    word-break: break-word;
}

h2 {
    font-size: 1.33em;
}

@media (min-width: 500px) {
    h1 .force-break {
        display: block;
    }
}

.content:last-child {
    padding-block-end: 0;
}

p.universe {
    padding-block-end: var(--brentjong-space--layout--padding);
}

.love-list {
    margin-inline-start: 1.2em;
}

@media (max-width: 700px) {
    .love-list li {
        padding-block-end: 0.5em;
    }

    .love-list .dates {
        display: block;
    }
}

.love-list li::marker {
    content: '🚀 ';
}

.love-list--past li+li {
    padding-block-start: 0.75em;
}

.love-list--past li::marker {
    content: '❤️ ';
}

.love-list--past .dates {
    display: block;
}

.love-list--past .space {
    display: block;
}

.love-list--past .space .tasks::before {
    content: '|';
    margin-inline-end: .4em;
}

.love-list li:hover::marker,
.love-list li:focus::marker {
    animation: rocket-launch 0.25s infinite 0.8s;
    position: absolute;
}

.love-list--package {
    margin-inline-start: .3em;
}

.love-list--package li::marker {
    content: '❤️‍🔥 ';
}

.love-list--package>li:first-child::marker {
    content: '❤️ ';
}

.dates--not-fix {
    text-decoration: wavy underline;
}

.strike-through {
    text-decoration: line-through;
    text-decoration-style: double;
}


a,
a:focus,
a:hover,
a:visited {
    color: inherit;
    text-decoration: none;
    text-shadow: 0 0 5px var(--brentjong-space--color--highlighted);
}

a {
    display: inline;
    background-image: var(--brentjong-space--link--underline--color);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 100% 0.1em;
    transition: background 0.8s cubic-bezier(.77, 0, .175, 1), color 0.8s cubic-bezier(.77, 0, .175, 1);
}

a:focus,
a:hover {
    color: var(--brentjong-space--color--action);
    background-size: 0 0.1em;
    transition: background 1s cubic-bezier(.645, .045, .355, 1), color 1s cubic-bezier(.645, .045, .355, 1);
}

.link .link__satellite {
    font-style: normal;
    position: absolute;
    transform: translate(-9999px, 0);
}

.link:hover .link__satellite {
    animation: spinning-edgy 1.9s infinite;
    /* animation: spinning-harmonious 1.3s infinite; */
}

.link .link__base-station {
    position: relative;
    display: inline-block;
}

.link:hover .link__base-station {
    animation: flip-horizontal 1.9s infinite;
}

.link:hover .link__rocket-launch {
    display: inline-block;
    animation: rocket-launch 0.25s infinite 0.8s;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block-start: calc(2 * var(--brentjong-space--layout--padding));

    @media (min-width: 1020px) {    
        flex-direction: row;
    }
}

.footer-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    list-style: none;
    padding-inline-start: 0;
    margin-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;

    li {   
        font-size: 0.35em;
        line-height: .5em;
        padding: 0;
    }
}

@media (prefers-reduced-motion) {
    .link:hover .link__satellite {
        animation: spinning-no 1s;
    }
}

@keyframes spinning-edgy {
    0% {
        transform: translate(-1em, -1.9em) rotate(13deg);
    }

    23% {
        transform: translate(3em, 0);
    }

    31% {
        transform: translate(2.6em, 4em) rotate(7deg);
    }

    45% {
        transform: translate(-2.6em, 2.5em);
    }

    66% {
        transform: translate(-4em, 0.5em) rotate(7deg);
    }

    75% {
        transform: translate(-3.5em, -3em) rotate(8deg);
    }

    100% {
        transform: translate(-1em, -1.9em) rotate(3deg);
    }
}

@keyframes spinning-harmonious {
    0% {
        transform: translate(-1em, -1.9em) rotate(30deg);
    }

    100% {
        transform: translate(-1em, -1.9em) rotate(390deg);
    }
}

@keyframes spinning-none {
    0% {}

    100% {}
}

@keyframes zoom-none {
    0% {}

    100% {}
}

@keyframes flip-horizontal {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    25% {
        transform: translate(-5px, 0) rotate(5deg);
    }

    49% {
        transform: scaleX(1)
    }

    50% {
        transform: translate(-10px, -3px) rotate(0eg);
    }

    51% {
        transform: scaleX(-1)
    }

    74% {
        transform: scaleX(-1)
    }

    75% {
        transform: translate(-5px, 0) rotate(-5deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

@keyframes rocket-launch {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    25% {
        transform: translate(-5px, 0) rotate(5deg);
    }

    50% {
        transform: translate(-10px, -3px) rotate(0eg);
    }

    75% {
        transform: translate(-5px, 0) rotate(-5deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

.hidden {
    display: none;
}


.galaxy {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 1px;
    width: 1px;
    
    background-color: var(--brentjong-space--font--color);
    border-radius: 50%;
    box-shadow: -42vw -4vh 0px 0px var(--brentjong-space--font--color),25vw -41vh 0px 0px var(--brentjong-space--font--color),-20vw 49vh 0px 1px var(--brentjong-space--font--color),5vw 40vh 1px 1px var(--brentjong-space--font--color),29vw 19vh 1px 0px var(--brentjong-space--font--color),-44vw -13vh 0px 0px var(--brentjong-space--font--color),46vw 41vh 0px 1px var(--brentjong-space--font--color),-3vw -45vh 0px 1px var(--brentjong-space--font--color),47vw 35vh 1px 0px var(--brentjong-space--font--color),12vw -8vh 1px 0px var(--brentjong-space--font--color),-34vw 48vh 1px 1px var(--brentjong-space--font--color),32vw 26vh 1px 1px var(--brentjong-space--font--color),32vw -41vh 1px 1px var(--brentjong-space--font--color),0vw 37vh 1px 1px var(--brentjong-space--font--color),34vw -26vh 1px 0px var(--brentjong-space--font--color),-14vw -49vh 1px 0px var(--brentjong-space--font--color),-12vw 45vh 0px 1px var(--brentjong-space--font--color),-44vw -33vh 0px 1px var(--brentjong-space--font--color),-13vw 41vh 0px 0px var(--brentjong-space--font--color),-36vw -11vh 0px 1px var(--brentjong-space--font--color),-23vw -24vh 1px 0px var(--brentjong-space--font--color),-38vw -27vh 0px 1px var(--brentjong-space--font--color),16vw -19vh 0px 0px var(--brentjong-space--font--color),28vw 33vh 1px 0px var(--brentjong-space--font--color),-49vw -4vh 0px 0px var(--brentjong-space--font--color),16vw 32vh 0px 1px var(--brentjong-space--font--color),36vw -18vh 1px 0px var(--brentjong-space--font--color),-25vw -30vh 1px 0px var(--brentjong-space--font--color),-23vw 24vh 0px 1px var(--brentjong-space--font--color),-2vw -35vh 1px 1px var(--brentjong-space--font--color),-25vw 9vh 0px 0px var(--brentjong-space--font--color),-15vw -34vh 0px 0px var(--brentjong-space--font--color),-8vw -19vh 1px 0px var(--brentjong-space--font--color),-20vw -20vh 1px 1px var(--brentjong-space--font--color),42vw 50vh 0px 1px var(--brentjong-space--font--color),-32vw 10vh 1px 0px var(--brentjong-space--font--color),-23vw -17vh 0px 0px var(--brentjong-space--font--color),44vw 15vh 1px 0px var(--brentjong-space--font--color),-40vw 33vh 1px 1px var(--brentjong-space--font--color),-43vw 8vh 0px 0px var(--brentjong-space--font--color),-48vw -15vh 1px 1px var(--brentjong-space--font--color),-24vw 17vh 0px 0px var(--brentjong-space--font--color),-31vw 50vh 1px 0px var(--brentjong-space--font--color),36vw -38vh 0px 1px var(--brentjong-space--font--color),-7vw 48vh 0px 0px var(--brentjong-space--font--color),15vw -32vh 0px 0px var(--brentjong-space--font--color),29vw -41vh 0px 0px var(--brentjong-space--font--color),2vw 37vh 1px 0px var(--brentjong-space--font--color),7vw -40vh 1px 1px var(--brentjong-space--font--color),15vw 18vh 0px 0px var(--brentjong-space--font--color),25vw -13vh 1px 1px var(--brentjong-space--font--color),-46vw -12vh 1px 1px var(--brentjong-space--font--color),-18vw 22vh 0px 0px var(--brentjong-space--font--color),23vw -9vh 1px 0px var(--brentjong-space--font--color),50vw 12vh 0px 1px var(--brentjong-space--font--color),45vw 2vh 0px 0px var(--brentjong-space--font--color),14vw -48vh 1px 0px var(--brentjong-space--font--color),23vw 43vh 0px 1px var(--brentjong-space--font--color),-40vw 16vh 1px 1px var(--brentjong-space--font--color),20vw -31vh 0px 1px var(--brentjong-space--font--color),-17vw 44vh 1px 1px var(--brentjong-space--font--color),18vw -45vh 0px 0px var(--brentjong-space--font--color),33vw -6vh 0px 0px var(--brentjong-space--font--color),0vw 7vh 0px 1px var(--brentjong-space--font--color),-10vw -18vh 0px 1px var(--brentjong-space--font--color),-19vw 5vh 1px 0px var(--brentjong-space--font--color),1vw 42vh 0px 0px var(--brentjong-space--font--color),22vw 48vh 0px 1px var(--brentjong-space--font--color),39vw -8vh 1px 1px var(--brentjong-space--font--color),-6vw -42vh 1px 0px var(--brentjong-space--font--color),-47vw 34vh 0px 0px var(--brentjong-space--font--color),-46vw 19vh 0px 1px var(--brentjong-space--font--color),-12vw -32vh 0px 0px var(--brentjong-space--font--color),-45vw -38vh 0px 1px var(--brentjong-space--font--color),-28vw 18vh 1px 0px var(--brentjong-space--font--color),-38vw -46vh 1px 1px var(--brentjong-space--font--color),49vw -6vh 1px 1px var(--brentjong-space--font--color),-28vw 18vh 1px 1px var(--brentjong-space--font--color),10vw -24vh 0px 1px var(--brentjong-space--font--color),-5vw -11vh 1px 1px var(--brentjong-space--font--color),33vw -8vh 1px 0px var(--brentjong-space--font--color),-16vw 17vh 0px 0px var(--brentjong-space--font--color),18vw 27vh 0px 1px var(--brentjong-space--font--color),-8vw -10vh 1px 1px var(--brentjong-space--font--color);

    /* stars were too big with the layers above but left the code in case no one cares  -- as in, if noone's just that  one other loner who actually cares    */
    
    box-shadow: 24vw 9vh 1px 0px var(--brentjong-space--font--color),12vw -24vh 0px 1px var(--brentjong-space--font--color),-45vw -22vh 0px 0px var(--brentjong-space--font--color),-37vw -40vh 0px 1px var(--brentjong-space--font--color),29vw 19vh 0px 1px var(--brentjong-space--font--color),4vw -8vh 0px 1px var(--brentjong-space--font--color),-5vw 21vh 1px 1px var(--brentjong-space--font--color),-27vw 26vh 1px 1px var(--brentjong-space--font--color),-47vw -3vh 1px 1px var(--brentjong-space--font--color),-28vw -30vh 0px 1px var(--brentjong-space--font--color),-43vw -27vh 0px 1px var(--brentjong-space--font--color),4vw 22vh 1px 1px var(--brentjong-space--font--color),36vw 23vh 0px 0px var(--brentjong-space--font--color),-21vw 24vh 1px 1px var(--brentjong-space--font--color),-16vw 2vh 1px 0px var(--brentjong-space--font--color),-16vw -6vh 0px 0px var(--brentjong-space--font--color),5vw 26vh 0px 0px var(--brentjong-space--font--color),-34vw 41vh 0px 0px var(--brentjong-space--font--color),1vw 42vh 1px 1px var(--brentjong-space--font--color),11vw -13vh 1px 1px var(--brentjong-space--font--color),48vw -8vh 1px 0px var(--brentjong-space--font--color),22vw -15vh 0px 0px var(--brentjong-space--font--color),45vw 49vh 0px 0px var(--brentjong-space--font--color),43vw -27vh 1px 1px var(--brentjong-space--font--color),20vw -2vh 0px 0px var(--brentjong-space--font--color),8vw 22vh 0px 1px var(--brentjong-space--font--color),39vw 48vh 1px 1px var(--brentjong-space--font--color),-21vw -11vh 0px 1px var(--brentjong-space--font--color),-40vw 45vh 0px 1px var(--brentjong-space--font--color),11vw -30vh 1px 0px var(--brentjong-space--font--color),26vw 30vh 1px 0px var(--brentjong-space--font--color),45vw -29vh 0px 1px var(--brentjong-space--font--color),-2vw 18vh 0px 0px var(--brentjong-space--font--color),-29vw -45vh 1px 0px var(--brentjong-space--font--color),-7vw -27vh 1px 1px var(--brentjong-space--font--color),42vw 24vh 0px 0px var(--brentjong-space--font--color),45vw -48vh 1px 0px var(--brentjong-space--font--color),-36vw -18vh 0px 0px var(--brentjong-space--font--color),-44vw 13vh 0px 1px var(--brentjong-space--font--color),36vw 16vh 0px 1px var(--brentjong-space--font--color),40vw 24vh 0px 0px var(--brentjong-space--font--color),18vw 11vh 0px 0px var(--brentjong-space--font--color),-15vw -23vh 1px 0px var(--brentjong-space--font--color),-24vw 48vh 0px 1px var(--brentjong-space--font--color),27vw -45vh 1px 0px var(--brentjong-space--font--color),-2vw -24vh 0px 1px var(--brentjong-space--font--color),-15vw -28vh 0px 0px var(--brentjong-space--font--color),-43vw 13vh 1px 0px var(--brentjong-space--font--color),7vw 27vh 1px 0px var(--brentjong-space--font--color),47vw 5vh 0px 0px var(--brentjong-space--font--color),-45vw 15vh 1px 1px var(--brentjong-space--font--color),-5vw -28vh 0px 1px var(--brentjong-space--font--color),38vw 25vh 1px 1px var(--brentjong-space--font--color),-39vw -1vh 1px 0px var(--brentjong-space--font--color),5vw 0vh 1px 0px var(--brentjong-space--font--color),49vw 13vh 0px 0px var(--brentjong-space--font--color),48vw 10vh 0px 1px var(--brentjong-space--font--color),19vw -28vh 0px 0px var(--brentjong-space--font--color),4vw 7vh 0px 0px var(--brentjong-space--font--color),21vw 21vh 1px 1px var(--brentjong-space--font--color),-15vw -15vh 0px 1px var(--brentjong-space--font--color),-6vw -42vh 1px 0px var(--brentjong-space--font--color),-15vw 48vh 1px 1px var(--brentjong-space--font--color),-23vw 25vh 1px 1px var(--brentjong-space--font--color),-48vw 25vh 0px 1px var(--brentjong-space--font--color),-31vw -19vh 0px 1px var(--brentjong-space--font--color),4vw 37vh 1px 1px var(--brentjong-space--font--color),-43vw 28vh 0px 0px var(--brentjong-space--font--color),3vw -25vh 0px 1px var(--brentjong-space--font--color),-39vw 14vh 0px 1px var(--brentjong-space--font--color),-40vw 31vh 0px 1px var(--brentjong-space--font--color),35vw -36vh 1px 1px var(--brentjong-space--font--color),16vw 49vh 0px 0px var(--brentjong-space--font--color),6vw 39vh 0px 0px var(--brentjong-space--font--color),3vw -35vh 0px 1px var(--brentjong-space--font--color),-44vw -2vh 1px 0px var(--brentjong-space--font--color),-6vw 21vh 1px 0px var(--brentjong-space--font--color),48vw 9vh 1px 1px var(--brentjong-space--font--color),-43vw 30vh 1px 1px var(--brentjong-space--font--color),29vw -12vh 1px 1px var(--brentjong-space--font--color),-48vw 13vh 1px 0px var(--brentjong-space--font--color),-42vw 32vh 1px 1px var(--brentjong-space--font--color),34vw 15vh 1px 1px var(--brentjong-space--font--color),29vw -37vh 1px 1px var(--brentjong-space--font--color),28vw 2vh 0px 0px var(--brentjong-space--font--color);
    animation: zoom 16s alternate infinite; 
}

@media (prefers-reduced-motion) {
    .galaxy {
        animation: zoom-none 1s;
    }
}